<!DOCTYPE html>
<html>

<head>
    <title>help</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div>
         {{>header}}
    <p>{{name}}</p>
    </div>
   
      {{>footer}}
</body>



</html>